*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #D70100;
    --secondary-color: #BA5555;
    --tertiary-color: #E9DFC3;

    --primary-text-color: #000000;
    --secondary-text-color: #FAF5F4;

    --bg-color: #fdd56f1a;
}

/* Future
.dark-theme{

}*/

.carousel-control-next-icon{
    color: #000000;
    background-color: #000000;
    border-radius: 9999px;
}
.carousel-control-prev-icon{
    color: #000000;
    background-color: #000000;
    border-radius: 9999px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--bg-color);
}

#container{
    max-width: 1320px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo{
    height: 4rem;
}

#login{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;

    width: 10rem;
    height: 2rem;

    margin: 10px;
    border-radius: 20px;
}

#mainTitle{
    font-size: 6rem;
    margin: 8rem 0;
}

main h5{
    max-width: 50rem;
    width: 50%;
    margin-bottom: 15rem;
}

#pasta{
    position: absolute;

    z-index: -1;

    top: 35%;
    left: 53%;

    width: 50%;
    max-width: 40rem;
}

#tomate{
    position: absolute;

    z-index: -1;

    top: 13%;
    left: -23%;

    width: 50%;
    max-width: 40rem;
}

.hr{
    background-color: var(--secondary-color);
    width: 80%;
    height: 5px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid var(--secondary-color);
}

.sectionTitle{
    text-align: center;
    margin: 2rem;

    font-size: 5rem;
}

#recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel{
    width: 95%;
}

.carouselCard{
    width: 100%;
    padding: 2%;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    gap: 2rem;

    background-color: var(--tertiary-color);
}

.carouselCard img{
    width: 40%;
}

.carouselCard div{
    width: 40%;
}

#functions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#functions article{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.subtitle{
    text-align: center;
}

svg{
    width: 50px;
    margin: 10px;
}

.opinion{
    /*background: linear-gradient(90deg,var(--primary-color),var(--tertiary-color),var(--primary-color));*/
    background: rgb(241,110,93);
    background: linear-gradient(71deg, rgba(241,110,93,1) 0%, rgba(249,175,96,1) 100%);
    border-radius: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 3s linear ease;
    gap: 2rem;

    padding: 2rem;
    margin: 25px;
}

.opinion img{
    width: 100px;
    height: 100px;
    border-radius: 9999px;
}

.animated-element {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento inicial */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animated-element.animate {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 600px) {
    #mainTitle{
        font-size: 4rem;
        margin: 5rem 0;
        padding: 0.5rem;
        text-align: right;
    }

    main h5{
        width: 100%;
        margin: 1.5rem;
        margin-bottom: 7rem;
        text-align: center;
    }

    #pasta{
        display: none;
    }

    #tomate{
        position: absolute;
    
        z-index: -1;
    
        top: 20%;
        left: -33%;
    
        width: 50%;
        max-width: 40rem;
    }

    .carouselCard{ 
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .carouselCard img{
        width: 100%;
    }
    
    .carouselCard div{
        width: 100%;
        margin-bottom: 33px;
    }

    .sectionTitle{
        margin: 1.5rem;
    }

    .subtitle{
        margin: 1.5rem;
    }

    #functions{
    flex-direction: column;
    }

    #functions article{
        flex-direction: column;
    }
}