*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #D70100;
    --secondary-color: #BA5555;
    --tertiary-color: #E9DFC3;
    --primary-text-color: #000000;
    --secondary-text-color: #FAF5F4;
}

/* Future
.dark-theme{

}*/

.carousel-control-next-icon{
    color: #000000;
    background-color: #000000;
    border-radius: 9999px;
}
.carousel-control-prev-icon{
    color: #000000;
    background-color: #000000;
    border-radius: 9999px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.hr{
    background-color: var(--secondary-color);
    width: 50vw;
    height: 5px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid var(--secondary-color);
}

h2{
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo{
    height: 4rem;
}

#login{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;

    width: 10rem;
    height: 2rem;

    margin: 10px;
    border-radius: 20px;
}

main h5{
    width: 17rem;
    margin-bottom: 50px;
}

#pasta{
    position: absolute;

    z-index: -1;

    top: 11%;
    left: 60%;

    width: 10rem;
}

.functions article{
    display: flex;
}

svg{
    width: 50px;
    margin: 10px;
}

.opinion{
    background: linear-gradient(90deg,var(--primary-color),var(--tertiary-color),var(--primary-color));
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 3s linear ease;
}
.opinion img{
    width: 100px;
    height: 100px;
    border-radius: 9999px;
}

.animated-element {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento inicial */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animated-element.animate {
    opacity: 1;
    transform: translateY(0);
}
